@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@200&display=swap');

body{
  background-color: #FBFCF7;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.App{
  width: 80vw;
  max-width: 1440px;
  /* border: 1px solid red; */
  height: 100vh;
  margin: 0 auto;
}
.header{
  height: 80px;
  width: 100vw;
  display: flex;
  background-color: white;
  position: relative;
}
.header-inner{
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  width: 80vw;
  /* margin-left: 5%; */
  margin: 0 auto;
}
.header-inner h1{
  color: #FF3A58;
}
.icon-logo{
  display: flex;
  align-items: center;
  /* flex: .3; */
  max-width: 400px;
  justify-content: space-around;
}
.navbar {
  display: flex;
  justify-content: space-between;
  flex: .9;
  font-family: 'Grandstander', cursive;
  font-size: 13px;
  font-weight: 700;
  color: #333333;
}
.navbar a{
  cursor: pointer;
}
.right-menu{
  visibility: hidden;
}
.nav-profile{
  display: flex;
  align-items: center;
  flex:.8;
  max-width: 700px;
  justify-content: space-between;
}
.header-two{
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 85vw;
}
.profile-avatar{
  display: flex;
  border: 1px solid #333333;
  height: 45px;
  width: 130px;
  border-radius: 25px;
  background: #FFFFFF 0% 0% no-repeat padding-box; 
  align-items: center;
}
.avatar{
  color: #BFFE8A;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile{
  font-size: 20px;
  font-family: 'Grandstander', cursive;
  font-weight: 700;
}
.banner{
  padding: 20px 0;
}
.breadcrumb{
  color: #ADBABD;
  font-family: 'Grandstander', cursive;

}
.title-recommended{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
}
.title{
  font-size: 32px;
}
.recommended-box{
  box-shadow: 1px 1px 0px #00000029;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  border: 1px solid #333333;
  background-color: #FDFFD3;
  border-radius: 5px;
}
.year-text{
  margin-top: 5px;
  font-size: 16px;
  margin-top: 15px;
}
.year{
  margin-left: 20px;

}
.main-banner{
  display: flex;
  margin-top: 20px;
  height: 300px;
}
.banner-img{
  /* border: 1px solid red; */
  flex: .5;
  background-image: url('./assets/images/Banner.png');
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 5px;
}
.watch-trailor-btn{
  height: 40px;
  width: 160px;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 0px #00000029;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
  font-size: 14px;
}
.banner-details{
  /* border: 1px solid green; */
  flex: .5;
  padding: 10px 30px;
}
.live-on-device{
  display: flex;
  justify-content: space-between;
}
.live-on p, .device p, .time-slot p, .fee-section p{
  letter-spacing: 0px;
  color: #A9B7B9;
  opacity: 1;
  font-size: 12px;
  font-family: 'Grandstander', cursive;

}
.live-on p{
  margin-bottom: 5px;
  
}

.device{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.device-icon{
  display: flex;
  color: #76f5d9;
  align-items: center;
  font-size: 20px;
  margin-top: 5px;
}
.device-icon span{
  font-size: 8px;
  color: #323232;
  font-family: 'Grandstander', cursive;

}
.slots{
  width: 65%;
  max-width: 350px;
  display: flex;
  justify-content: space-between;
}
.slot-avail{
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
  color: #8AB7C0;
  font-family: 'Grandstander', cursive;

}
.slot-timming{
  height: 30px;
  width: 80px;
  font-family: 'Grandstander', cursive;
  border: 1px solid #707070;
  border-radius: 25px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #333333;
}
.fee-section{
  margin-top: 30px;
}
.price-box{
  height: 40px;
  width: 160px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 2px 2px 0px #0000001A;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-family: 'Grandstander', cursive;
}
.price-box span{
  text-decoration: line-through;
  color: #6997A1;
  font-size: 14px;
  margin-right: 10px;
}
.price-earn{
  display: flex;
  align-items: center;
  margin-top: 10px;

}
.earn-points{
  color: #FF3A58 !important;
  text-decoration: underline;
  font-weight: 700;
  margin-left: 30px;
  font-size: 15px !important;
  font-family: 'Grandstander', cursive;

}
.cta-btn{ 
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-family: 'Grandstander', cursive;

}
.book-cta{
  height: 40px;
  width: 75%;
  background-color: #FF3A58;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}
.share-cta{
  border: 1px solid #FF3A58;
  height: 40px;
  width: 15%;
  color: #FF3A58;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}













@media screen and (max-width: 1046px) and (min-width: 600px) {
  .navbar a{
    font-size: 12px;
  }
  .icon-logo{
    font-size: 14px;
  }  
}

@media screen and (max-width: 600px) and (min-width: 300px) {
  .menuIcon{
    display: none;    
  }  
  .header-two{
    width: 90vw;
  }
  .header-inner{
    width: 100%;
  }
  .navbar{
    display: none;
  }
  .icon-logo{
    font-size: 10px;
  }
  .profile-avatar{
    height: 30px;
    width: 100px;
    padding: 5px;
  }
  .right-menu{
    visibility: visible;
    margin-left: 10px;
    cursor: pointer;
  }
  .breadcrumb{
    visibility: hidden;
  }
  .recommended-box{
    visibility: hidden;
    margin-left: -70px;
  }
  .title{
    font-size: 18px;
  }
  .App{
    width: 100vw;
  }
  .banner{
    padding: 0;
  }
  .title-wrap{
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: -15px;
    padding: 0 20px;
  }
  .year-text{
    font-size: 14px;
  }
  .title-recommended{
    margin-top: 8px;
  }
  .main-banner{
    display: block;
  }
  .banner-img{
    /* flex: .5; */
    height: 200px;
    width: 100%;
    background-image: url('./assets/images/Banner.png');
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 5px;
  }
  .slots{
    width: 100%;
  }
  .price-box{
    width: 130px;
  }
  .earn-points{
    font-size: 12px;
  }
  .share-cta{
    padding: 5px;
    height: 30px;
  }
}













